.venv/
__pycache__/
*.py[cod]
*.log

.idea/
.vscode/

build/
dist/
android/.gradle/
android/app/build/
electron/node_modules/

*.rar
*.zip
*.7z
*.tar
*.gz
*.exe
*.dmg
*.AppImage
*.apk
*.ipa

server.log
